{% extends "base.html" %}
{% block title %}Reset Password for {{reset_user}}{% endblock %}

{% block active_login %} class="active"{% endblock %}

{% block content %}
<h1>Reset Password for {{reset_user}}</h1>

<p>To reset your password, you must verify your {{forum_name}} forums identity as <strong>{{reset_user.member}}</strong> (if this is not your {{forum_name}} username, you should <a href="{% url 'register' %}">create a new account</a>). Your new verification code is <strong>{{reset_user.verification_code}}</strong>. <em>Before you submit the form below</em>, you must enter the verification code into {% if verification_method == 'api' %}the "Verification code" field in your account details{% else %}the Biography section of your user profile{% endif %}. To recap:</p>

{% with button_text="Reset password" user=reset_user %}
{% include "verification_instructions.html" %}
{% endwith %}

<p>If you're successfully verified, your password will then be set to the new password you chose and you will be logged in.</p>

<form action="" method="post">
{% csrf_token %}
{% include "form.html" %}
<p><button type="submit" class="btn btn-primary">Reset password</button></p>
</form>
{% endblock %}
