<ol>
<li>Edit <strong><a href="https://{{forum_url}}account/account-details" target="_blank">your personal details</a></strong> on the forums. That link should take you there (opens in a new tab/window).</li>
<li>Find the "About You" field near the bottom of the page.</li>
<li>Within the editor, paste in the code <strong>{{user.verification_code}}</strong>.</li>
<li>Press the "Save Changes" button at the bottom of the page.</li>
{% if not user.member %}
<li>Go to <strong>your profile page</strong> on the forums. You can find it by hovering over your username near the top right corner of the page and clicking your username in the menu that pops up. Copy the profile page URL from your browser's address bar.</li>
{% endif %}
<li>Return to this page, paste the profile page URL into the box below, and press the "{{button_text|default:"Verify me!"}}" button below. If you did everything correctly, you should be successfully verified and can remove the verification code from your profile.</li>
</ol>
