{% extends "base.html" %}
{% block title %}Overview{% endblock %}

{% block active_overview %} class="active"{% endblock %}

{% block content %}
<h1>{{year}} Serebii.net Forums Fanfiction Awards</h1>

<p>This website handles the annual Fanfiction Awards for the <a href="http://www.serebiiforums.com/forumdisplay.php?32-Fan-Fiction">Fan Fiction forum at the Serebii.net forums</a>.</p>

<p>{% if not phase %}The {{year}} awards haven't started yet! Discuss the awards and suggest changes <a href="{{discussion_thread}}">here</a>.{% elif phase == 'finished' %}The {{year}} awards have concluded. Wait for next year!{% else %}We are currently in the <strong>{{phase}}</strong> phase of the {{year}} awards. {% if phase == 'nomination' %}Check out the nominations so far <a href="{% url 'all_nominations' %}">here</a>, or {% if not user.is_authenticated %}<a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a>{% else %}head <a href="{% url 'nomination' %}">here</a>{% endif %} to submit or edit your own nominations.{% elif phase == 'voting' %}See the list of nominations <a href="{% url 'all_nominations' %}">here</a>, or check out <a href="{% url 'voting' %}">the voting form</a> to submit your votes.{% endif %}{% endif %}</p>

<p>This site was created by <a href="http://www.serebiiforums.com/member.php?388-Dragonfree">Dragonfree</a>. Please direct any questions, comments, errors or other feedback her way.</p>
{% endblock %}