{% extends "base.html" %}
{% load humanize %}
{% block title %}Nominations{% endblock %}

{% block active_nomination %} class="active"{% endblock %}

{% block content %}
<h1>Nominations</h1>

{% if not phase == 'nomination' %}
<p>The nomination phase has {% if phase < 'nomination' %}not yet started{% else %}concluded{% endif %}. {% if phase == 'voting' %}<a href="{% url 'voting' %}">Click here to vote for your favorites.</a>{% elif phase < 'nomination' %}Keep an eye out for news of when nominations start!{% else %}Come back in time for next year's awards!{% endif %}</p>
{% elif not user.is_authenticated %}
<p>You are not logged in. To start nominating, either <a href="{% url 'login' %}">log in</a> if you already have an account or simply enter the link to your Serebii.net forums user profile into the form field below and press Continue to quickly create a new one. You can get this link by clicking <a href="http://www.serebiiforums.com/member.php" target="_blank">here</a> and copying the address it redirects you to, provided you are logged in to the forums.</p>

<form action="{% url 'nomination' %}" method="post">
{% csrf_token %}
{% include 'form.html' %}
<p><button type="submit" class="btn btn-primary">Continue</button></p>
</form>
{% elif not user.member %}
<p>To nominate, you must <a href="{% url 'verification' %}">verify your account</a>.</p>
{% else %}

<p>These are {% if formset.member == user.member %}your{% else %}<strong>{{formset.member}}</strong>'s{% endif %} nominations for the {{formset.year}} awards.{% if formset.member == user.member %} For as long as the nomination phase lasts, you can come back here and alter your nominations, even after you click the "Submit nominations" button.{% endif %}</p>

<p><strong>All nominated stories must have been updated in {{year}}, and individual scenes, quotes or chapters nominated must have been posted in {{year}}, according to the UTC timezone.</strong> This will be automatically enforced to a degree; however, doing so is not always realistic. The mods will go through nominations as they are made and ask you to change any that are ineligible.</p>

<p>You may make up to two nominations in each category, so long as</p>

<ul>
<li>you nominate at least <strong>{{min_different_nominations|apnumber}}</strong> different authors in all</li>
<li>you do not nominate yourself or your own work</li>
<li>no one story is nominated more than <strong>{{max_fic_nominations|apnumber}}</strong> times</li>
<li>no one author is nominated more than <strong>{{max_person_nominations|apnumber}}</strong> times</li>
</ul>

<p>These limits will be enforced automatically by the system.</p>

<form action="" method="post">
{% csrf_token %}
{{formset.management_form}}
{% if formset.non_form_errors %}
<div class="alert alert-danger">
{{formset.non_form_errors}}
</div>
{% elif formset.errors %}
<div class="alert alert-danger">
Please correct the errors below.
</div>
{% endif %}
{% regroup formset.forms by award as awards %}
{% for award in awards %}
{% ifchanged award.grouper.category %}
<h2>{{award.grouper.category}}</h2>
{% endifchanged %}
<div id="award-{{award.grouper.id}}" class="panel {% if award.list.0.errors or award.list.1.errors %}panel-danger{% else %}panel-default{% endif %}">
<div class="panel-heading" title="{{award.grouper.description}}">
<h3 class="panel-title">{{award.grouper}} <small>{% if not award.list.0.is_unset and not award.list.1.is_unset %}2 nominations{% elif not award.list.0.is_unset or not award.list.1.is_unset %}1 nomination{% else %}0 nominations{% endif %}</small></h3>
</div>
<div class="panel-body collapse in">
{% if award.grouper.description %}<p class="award-description">{{award.grouper.description}}</p>{% endif %}
{% for form in award.list %}
{% include "form.html" %}
{% endfor %}
</div>
</div>
{% endfor %}
<p><button type="submit" class="btn btn-primary">Submit nominations</button></p>
</form>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    'use strict';
    var fics = {
        {% for fic in all_fics %}
        {{fic.pk}}: {
            title: "{{fic.title|escapejs}}",
            authors: [{% for author in fic.authors.all %}{% if not forloop.first %}, {% endif %}{{author.pk}}{% endfor %}]
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
    };

    var authors = {
        {% for author in all_authors %}
        {{author.pk}}: {
            username: "{{author.username|escapejs}}"
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
    };

    $(".serebii-object").children("select").change(function() {
        if ($(this).val() !== "") {
            // We've chosen a fic in the select menu - hide the input field
            $(this).siblings("input").val("").hide().next(".text-danger, .text-warning").remove();
        }
        else {
            $(this).siblings("input").show();
        }
    }).change();

    $(".is-post-link").hide();

    function resize_textarea() {
        if ($(this).val().length > 40 || $(this).val().indexOf('\n') !== -1) {
            $(this).removeClass("shrunk");
        }
        else {
            $(this).addClass("shrunk");
        }
    }

    $("textarea").addClass("shrunk").on('keyup', resize_textarea).on('paste', function() {
        var self = this;
        setTimeout(function() {
            resize_textarea.call(self);
        }, 10);
    }).on('keydown', function(e) {
        if (e.which === 13) {
            $(this).removeClass("shrunk");
        }
    }).keyup();

    setTimeout(function() {
        $("textarea").css("transition", "width 0.5s, height 0.5s");
    }, 10);

    $(".panel-body").collapse({toggle: false});
    $(".panel-default .panel-body").collapse('hide');

    $(".panel-heading").css("cursor", "pointer").click(function() {
        $(this).next().collapse('toggle');
    }).children().prepend('<span class="caret"></span> ');


    var lookup_urls = {
        fic: '{% url 'nomination_lookup_fic' %}',
        nominee: '{% url 'nomination_lookup_member' %}'
    };

    function add_to_selects(field_name, object) {
        var $selects = $(".field-" + field_name + " select");
        if ($selects.first().children("[value=" + object.pk + "]").length === 0) {
            var $options = $selects.first().children();
            var $new_option = $('<option value="' + object.pk + '"></option>').text(object.name);
            var i;
            for (i = 0; i < $options.length; i++) {
                if ($options.eq(i).text() > object.name) {
                    break;
                }
            }
            if (i < $options.length) {
                $selects.children().filter(":nth-child(" + (i + 1) + ")").before($new_option);
            }
            else {
                $selects.append($new_option);
            }
        }
    }

    function lookup($elem, lookup_type, params) {
        if (!params) params = {};

        $elem.next(".loading").remove();
        
        if ($elem.val() !== '') {
            $elem.after(' <span class="loading"><img src="{{STATIC_URL}}ajax-loader.gif" alt=""> Looking up URL...</span>');
            params.url = $.trim($elem.val());
            $.get(lookup_urls[lookup_type], params, function(json) {
                if ('error' in json) {
                    $elem.next(".loading").text(json.error).addClass("text-danger");
                }
                else {
                    // Add the item into the appropriate object
                    if (lookup_type === 'fic') {
                        fics[json.pk] = json.object;
                    }
                    else {
                        authors[json.pk] = json.object;
                    }
                    // Add the item into all fic dropdowns if not present
                    add_to_selects(lookup_type, json);
                    // Add any other items (e.g. a fic's authors) into the objects and all appropriate dropdowns if not present
                    $.each(json.other_objects, function() {
                        if (this.type === 'fic') {
                            fics[this.pk] = this.object;
                        }
                        else {
                            authors[this.pk] = this.object;
                        }
                        add_to_selects(this.type, this);
                    });
                    $elem.siblings("select").val(json.pk).change();
                    $elem.val("");
                    $elem.next(".loading").text("Lookup successful!").addClass("text-success");
                    update_progress();
                    setTimeout(function() { $elem.next(".loading").fadeOut(3000); }, 2000);
                }
            });
        }
    }

    function localStorage_save($elem, current_nominations, lookup_type, data_type) {
        // Adds a changed nomination field to the list of current nominations
        // then saves it in localStorage
        var id_root = $elem.attr('id').slice(0, $elem.attr('id').lastIndexOf('-'))

        // First, was this a change or a deletion? If the element is empty, remove it
        if (current_nominations.hasOwnProperty(id_root)) {
            current_nominations[id_root][data_type] = $.trim($elem.val());

            if (current_nominations[id_root]["type"] === '') {
                current_nominations[id_root]["type"] = lookup_type;
            }

            // If this is a select drop-down being updated,
            // delete the "url" parameter if it exists
            if (current_nominations[id_root].hasOwnProperty('pk') && current_nominations[id_root].hasOwnProperty('url')) {
                delete current_nominations[id_root].url;
            }
        }
        else {
            current_nominations[id_root] = new Object();
            current_nominations[id_root][data_type] = $.trim($elem.val());
            current_nominations[id_root]["type"] = lookup_type;
        }

        if (localStorage && JSON) {
            localStorage.setItem("current_nominations", JSON.stringify(current_nominations));
        }
    }

    $("body").append('<div id="progress-tracker" class="collapse-container"><div class="collapse-marker collapse-button"><span class="glyphicon glyphicon-chevron-up"></span> Your Nominations</div><div class="collapse-body"><span class="glyphicon glyphicon-chevron-down collapse-button pull-right"></span> You have nominated:</div></div>');

    var current_nominations;

    // Load nominations from localStorage if possible
    if (localStorage && localStorage.getItem("current_nominations")) {
        current_nominations = $.parseJSON(localStorage.getItem("current_nominations"));

        for (var saved_nomination in current_nominations) {
            var form_num = saved_nomination.split('-')[1] * 1;
            var base_form_num = Math.floor(form_num / 2) * 2;
            var paired_form = 'id_form-' + (base_form_num + (1 + base_form_num - form_num));

            if (!(paired_form in current_nominations)) {
                if (current_nominations[saved_nomination].type === 'fic' &&
                    current_nominations[saved_nomination].pk === $('#' + paired_form + '-fic_0').val() && (
                        !current_nominations[saved_nomination].detail ||
                        current_nominations[saved_nomination].detail === $('#' + paired_form + '-detail').val()
                    ) ||
                    current_nominations[saved_nomination].type === 'nominee' &&
                    current_nominations[saved_nomination].pk === $('#' + paired_form + '-nominee_0').val()
                ) {
                    // This nomination is the same as the paired one, on which we have no saved information. This is most likely because we entered a nomination into the second form, which was then loaded into the first form when it came back from the server. Let's put our saved stuff into the paired form instead and pretend we're dealing with that!
                    current_nominations[paired_form] = current_nominations[saved_nomination];
                    saved_nomination = paired_form;
                }
            }
            // First, redo the lookup on this nomination if possible
            if (current_nominations[saved_nomination].hasOwnProperty('url')) {
                var $unverified_nomination;

                if (current_nominations[saved_nomination].type === 'post' || current_nominations[saved_nomination].type == 'thread') {
                    // Single-post nominations need special handling
                    $unverified_nomination = $('#' + saved_nomination + '-fic_1');
                    $unverified_nomination.val(current_nominations[saved_nomination].url);
                    lookup($unverified_nomination, 'fic', { type: current_nominations[saved_nomination].type });
                }
                else {
                    if (current_nominations[saved_nomination].type === 'fic') {
                        $unverified_nomination = $('#' + saved_nomination + '-fic_1');
                    }
                    else {
                        $unverified_nomination = $('#' + saved_nomination + '-nominee_1');
                    }

                    $unverified_nomination.val(current_nominations[saved_nomination].url);
                    lookup($unverified_nomination, current_nominations[saved_nomination].type);
                }
            }
            else if (current_nominations[saved_nomination].hasOwnProperty('pk')) {
                // The item should be in the db already, just not in the drop-down
                // So add it to the drop-down if necessary!

                // First, create the object we need to use the add_to_selects function
                var nomination_info = null;
                if (current_nominations[saved_nomination].type === 'fic') {
                    if (current_nominations[saved_nomination].pk) {
                        nomination_info = fics[current_nominations[saved_nomination].pk];

                        var author_names = [];
                        var final_names;
                        // Reconstruct the proper name from fic/author data
                        $.each(nomination_info.authors, function(value) {
                            author_names.push(authors[nomination_info.authors[value]].username);
                        });

                        if (author_names.length == 1) {
                            final_names = author_names[0];
                        }
                        else if (author_names.length == 2) {
                            final_names = author_names[0] + ' and ' + author_names[1];
                        }
                        else {
                            var last_two = author_names.slice(Math.max(author_names.length - 2, 1))
                            final_names = author_names.slice(0, author_names.length - 2).join(', ') + ', ' + last_two[0] + ' and ' + last_two[1];
                        }

                        nomination_info.name = nomination_info.title + ' by ' + final_names
                    }
                }
                else {
                    if (current_nominations[saved_nomination].pk) {
                        nomination_info = authors[current_nominations[saved_nomination].pk];
                        nomination_info.name = nomination_info.username;
                    }
                }

                if (nomination_info) {
                    nomination_info.pk = current_nominations[saved_nomination].pk

                    add_to_selects(current_nominations[saved_nomination].type, nomination_info);
                } else {
                    // It's an empty nomination
                    nomination_info = {pk: ''};
                }
                // Now select it!
                if (current_nominations[saved_nomination].type === 'fic') {
                    $('#' + saved_nomination + '-fic_0').val(nomination_info.pk).change();
                }
                else {
                    $('#' + saved_nomination + '-nominee_0').val(nomination_info.pk).change();
                }

            }

            // Now set associated comment, detail, etc.
            for (var property in current_nominations[saved_nomination]) {
                if (property != 'url' && property != 'field_0' && current_nominations[saved_nomination].hasOwnProperty(property)) {
                    var $elem = $('#' + saved_nomination + '-' + property);
                    $elem.val(current_nominations[saved_nomination][property]);
                    if ($elem.is("textarea")) {
                        resize_textarea.call($elem.get(0));
                    }
                }
            }

        }
    }
    else {
        current_nominations = {};
    }

    function update_progress() {
        var nominated_fics = {};
        var nominated_authors = {};

        $(".field-fic").each(function() {
            var selected = $(this).find("select").val();
            if (selected) {
                if (!(selected in nominated_fics)) {
                    nominated_fics[selected] = 1;
                }
                else {
                    nominated_fics[selected]++;
                }
                for (var i = 0; i < fics[selected].authors.length; i++) {
                    var author = fics[selected].authors[i];
                    if (!(author in nominated_authors)) {
                        nominated_authors[author] = 1;
                    }
                    else {
                        nominated_authors[author]++;
                    }
                }
            }
        });

        $(".field-nominee").each(function() {
            var selected = $(this).find("select").val();
            if (selected) {
                if (!(selected in nominated_authors)) {
                    nominated_authors[selected] = 1;
                }
                else {
                    nominated_authors[selected]++;
                }
            }
        });

        var $progress_list = $("#progress-tracker .collapse-body");
        $progress_list.children(":not(.collapse-button)").remove();

        var fic_lis = [];
        var author_lis = [];

        function li_sorter($a, $b) {
            if ($a.text().toLowerCase() < $b.text().toLowerCase()) {
                return -1;
            }
            else if ($a.text().toLowerCase() > $b.text().toLowerCase()) {
                return 1;
            }
            else {
                return 0;
            }
        }

        for (var fic in nominated_fics) {
            var $li = $('<li' + (nominated_fics[fic] > {{max_fic_nominations}} ? ' class="text-danger"' : '') + '>' + fics[fic].title + ' (' + nominated_fics[fic] + ' nominations)</li>').data('type', 'fic').data('id', fic);
            $li.attr('title', "Click to cycle through nominations");
            fic_lis.push($li);
        }
        for (var author in nominated_authors) {
            var $li = $('<li' + (nominated_authors[author] > {{max_person_nominations}} ? ' class="text-danger"' : '') + '>' + authors[author].username + ' (' + nominated_authors[author] + ' nominations)</li>').data('type', 'author').data('id', author);
            $li.attr('title', "Click to cycle through nominations");
            author_lis.push($li);
        }
        if (fic_lis.length > 0) {
            var $fic_list = $('<ul class="list-unstyled">');
            fic_lis.sort(li_sorter);
            $.each(fic_lis, function() { $fic_list.append(this); });
            $progress_list.append('<h4>Fics</h4>').append($fic_list);
        }
        if (author_lis.length > 0) {
            var $author_list = $('<ul class="list-unstyled">');
            author_lis.sort(li_sorter);
            $.each(author_lis, function() { $author_list.append(this); });
            $progress_list.append('<h4>Authors</h4>').append($author_list);
        }
        if (author_lis.length === 0 && fic_lis.length === 0) {
            $progress_list.append('<span> Nothing yet</span>');
        }

        // Make the nominations cycle through their actual nominations when clicked
        $progress_list.find("li").each(function() {
            var self = this;
            var $awards = $(".field-fic select, .field-nominee select").filter(function() {
                if ($(self).data("type") === 'fic' && $(this).is(".field-nominee select")) {
                    return false;
                }
                var selected = $(this).val();
                if (selected) {
                    if ($(self).data("type") === 'fic') {
                        return selected === $(self).data("id");
                    }
                    else {
                        if ($(this).is(".field-fic select")) {
                            return $.inArray($(self).data("id") * 1, fics[selected].authors) !== -1;
                        }
                        else {
                            return selected === $(self).data("id");
                        }
                    }
                }
                else {
                    return false;
                }
            }).closest(".panel");

            var cur_index = -1;

            $(this).on('click', function() {
                cur_index++;
                if (cur_index >= $awards.length) {
                    cur_index = 0;
                }
                $awards.eq(cur_index).children(".panel-body").collapse('show');
                $(window).scrollTop($awards.eq(cur_index).offset().top);
            });
        });

        $(".panel").each(function() {
            var num_nominations = $(this).find("select").filter(function() { return $(this).val(); }).length;
            $(this).find(".panel-heading small").text(num_nominations + " nomination" + (num_nominations === 1 ? "" : "s"));
        });

    }

    if (localStorage && JSON) {
        $("form").before("<p>Your nominations will be saved in your browser as you make them, so you can leave and return on the same computer without losing anything--however, note that this means your nominations haven't necessarily been submitted even if the page remembers them! To ensure your nominations are included, <strong>make sure you press the Submit nominations button at the bottom of the form once you're done nominating</strong>. Similarly, if you make any edits to your nominations later, you must remember to resubmit them.</p>");
    }

    update_progress();

    $(".field-fic input[type=text]").blur(function() {
        if ($(this).val().indexOf('/posts/') !== -1 || $(this).val().indexOf('#post-') !== -1) {
            // This is a post link
            $(this).next(".loading").remove();
            $(this).after('<span class="loading text-warning">You have entered a post link. By default, the system assumes your nomination is for the thread containing the post. If you wish to nominate an independent story located in the particular post you linked to, please click the appropriate button. <button type="button" class="btn btn-default btn-sm post-link-button" value="thread">Nominate the thread</button> <button type="button" class="btn btn-default btn-sm post-link-button" value="post">Nominate the post</button></span>');
        }
        else {
            lookup($(this), 'fic');
        }
    });

    $(".field-nominee input").blur(function() {
        lookup($(this), 'nominee');
    });

    $(".field-comment textarea, .field-detail textarea, .field-link input").blur(function() {
        var data_type = ($(this).attr('id').slice($(this).attr('id').lastIndexOf('-') + 1, $(this).attr('id').length));
        if (localStorage && JSON) {
            localStorage_save($(this), current_nominations, '', data_type);
        }
    });

    $(".field-fic select, .field-nominee select").change(function () {
        update_progress();

        if (localStorage && JSON) {
            // We're looking for "fic" in the id
            if ($(this).attr('id').slice(-3, -2) === 'c') {
                localStorage_save($(this), current_nominations, 'fic', 'pk');
            }
            else {
                localStorage_save($(this), current_nominations, 'nominee', 'pk');
            }
        }
    });

    $(".field-fic").on('click', ".post-link-button", function() {
        var $single_post_element = $(this).closest(".field-fic").find("input[type=text]");
        lookup($single_post_element, 'fic', { type: this.value });
    });
</script>
{% endblock %}
