{% extends "base.html" %}
{% block title %}Past Awards{% endblock %}
{% block active_past_awards %} class="active"{% endblock %}

{% block content %}
<h1>Past Awards</h1>

<p>Right now, the Thousand Roads forums do not do yearly awards; this functionality is left over from the Serebii.net awards that were the basis for this companion app. If awards are ever held on Thousand Roads, a history of them will appear here.</p>

<ul>
    {% for award_year in years %}
        {% if award_year != year %}
            <li><a href="{% url 'results' award_year %}">{{award_year}} Fanfiction Awards</a></li>
        {% endif %}
    {% endfor %}

</ul>

{% endblock %}
