{% extends "base.html" %}
{% load serebii_utils %}
{% block title %}Voting{% endblock %}

{% block active_voting %} class="active"{% endblock %}

{% block content %}
<h1>Voting</h1>

{% if not phase == 'voting' %}
<p>The voting phase {% if phase < 'voting' %}has not started.{% if phase == 'nomination' %} <a href="{% url 'nomination' %}">Click here to enter your nominations.</a>{% endif %}{% else %}is over. Come back in time for next year's awards!{% endif %}</p>
{% elif not user.is_authenticated %}
<p>You are not logged in. To start voting, either <a href="{% url 'login' %}">log in</a> if you already have an account or simply enter the link to your Serebii.net forums user profile into the form field below and press Continue to quickly create a new one. You can get this link by clicking <a href="http://www.serebiiforums.com/member.php" target="_blank">here</a> and copying the address it redirects you to, provided you are logged in to the forums.</p>

<form action="{% url 'voting' %}" method="post">
{% csrf_token %}
{% include 'form.html' %}
<p><button type="submit" class="btn btn-primary">Continue</button></p>
</form>
{% elif not user.member %}
<p>To vote, you must <a href="{% url 'verification' %}">verify your account</a>.</p>
{% else %}
<p>Here, you can submit your votes for the {{year}} fanfic awards.</p>

<p>You must place a vote in <strong>at least half of the available categories, rounded up</strong>. This is intended to encourage you to broaden your horizons and read more stories, rather than only voting in those categories your existing favorite fics happen to be nominated in. If you can't muster a vote in half of the categories, read some of the stories nominated in other categories - you may find some new favorites!</p>

<form action="{% url 'voting' %}" method="post">
{% csrf_token %}
{% if form.non_field_errors %}
<div class="alert alert-danger">{{form.non_field_errors}}</div>
{% elif form.errors %}
<div class="alert alert-danger">
<p>There were some problems with your votes. Please review the following categories:</p>
{% voting_form_errors %}
</div>
{% endif %}

{% include "nomination_list.html" %}

<p><button type="submit" class="btn btn-primary">Submit Votes</button></p>
</form>
{% endif %}
{% endblock %}

{% block scripts %}
<script>

    // Add progress pop-up
    $("body").append('<div id="progress-tracker" class="collapse-container"><div class="collapse-marker collapse-button"><span class="glyphicon glyphicon-chevron-up"></span> Your Votes (<span class="current-vote-field">0</span>/{{award_requirement}})</div><div class="collapse-body"><span class="glyphicon glyphicon-chevron-down collapse-button pull-right"></span> You have cast <span class="current-vote-field collapse-button">0</span> vote(s).<p class="collapse-button">You must cast <span id="required-vote-field" class="collapse-button">0</span> more to submit.</p></div></div>');

    // Load votes from localStorage if possible
    if (localStorage && localStorage.getItem("current_votes")) {
        var current_votes = $.parseJSON(localStorage.getItem("current_votes"));

        for (var set_vote in current_votes) {
            var $potential_vote = $("#" + set_vote).find("input[value='" + current_votes[set_vote] + "']");

            // Remove any funky votes that somehow snuck aboard
            if ($potential_vote.length > 0) {
                $potential_vote.prop('checked', true);
            } else {
                delete current_votes[set_vote];
            }
        }

    } else {
        var current_votes = {};
    }

    function update_progress() {

        var unvoted_categories = {};
        var total_votes = 0;

        $("fieldset").each(function() {
            var vote = $(this).find("input:checked").val();
            if (typeof vote !== 'undefined') {
                if (vote === "") {
                    unvoted_categories[$(this).attr("id")] = $(this).find("legend").text();
                }
                else {
                    current_votes[$(this).attr("id")] = vote;

                    // We need the length of this later
                    // I believe any cross-browser solution
                    // requires iterating over this to find the length
                    // Therefore accumulating here to prevent iterating twice
                    total_votes++;
                }
            }
        });

        var $progress_list = $("#progress-tracker .collapse-body");
        // Remove any existing lists
        $progress_list.children(":not(.collapse-button)").remove();

        // Add uncast vote list
        $progress_list.append('<h4>Open Categories</h4>');
        var $unvoted_list = $('<ul class="list-unstyled">');

        if (!$.isEmptyObject(unvoted_categories)) {
            for (var cat in unvoted_categories) {
                $unvoted_list.append($('<li><a href="#' + cat + '">' + unvoted_categories[cat] + '</a></li>'));
            }
        }
        else {
            $unvoted_list.append($("<li>None</li>"));
        }

        $progress_list.append($unvoted_list);

        // Update number of votes cast/needed
        $(".current-vote-field").text(total_votes);
        $("#required-vote-field").text(({{award_requirement}} - total_votes) >= 0 ? {{award_requirement}} - total_votes : 0);

        // Save votes to localStorage, if possible
        if (localStorage && JSON) {
            localStorage.setItem("current_votes", JSON.stringify(current_votes));
        }
    };

    // Populate progress with initial votes
    update_progress();

    if (localStorage && JSON) {
        $("form").before("<p>Your votes will be saved in your browser as you make them, so that you can always leave and return on the same computer without losing your votes - however, note that this means your votes haven't necessarily been submitted even if the page remembers them! To ensure your votes are counted, <strong>make sure you press the Submit Votes button at the bottom of the form once you have completed your ballot</strong>. Similarly, if you make any edits to your votes later, you must remember to resubmit them.</p>");
    }

    // Update whenever a vote is cast or rescinded
    $(".nomination input").change(update_progress);

</script>
{% endblock %}
