{% extends "base.html" %}
{% load forum_utils %}
{% block title %}Blitz Review Approval Queue{% endblock %}

{% block content %}
<h1>Blitz Review Approval Queue</h1>
    {% if blitzreview_list|length == 0 %}<p>There are currently no reviews awaiting approval. Nice one!</p>
        <div class="tenor-gif-embed" data-postid="5217154" data-share-method="host" data-aspect-ratio="1.33333" data-width="min(500px, 100%)"><a href="https://tenor.com/view/pokemon-party-hard-gif-5217154">Pokemon Party GIF</a>from <a href="https://tenor.com/search/pokemon-gifs">Pokemon GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    {% else %}
        {% if blitzreview_list|length == 1 %}<p>There is currently 1 review awaiting approval.</p>
        {% else %}<p>There are currently {{ blitzreview_list|length }} reviews awaiting approval.</p>
        {% endif %}
	<p>If you're new to approving reviews or want a refresher on what to look out for, take a look at the <a href="{% url 'blitz_review_approval_guidelines' %}">review approval guidelines</a>!</p>
    {% endif %}
{% include "blitz_review_approval_queue_list.html" %}
{% endblock %}

{%  block scripts %}
<script type="text/javascript">
    function confirmDelete(isValid) {
        if (!isValid)
            return confirm("Are you sure you want to reject this review? It will be deleted and the user will have to resubmit.");
        else
            return true;
}
</script>
{% endblock %}
