{% extends "base.html" %}
{% load forum_utils %}
{% block title %}Review Blitz User Stats{% endblock %}

{% block content %}
<h1>{{user.username}}'s Blitz Stats</h1>

<p><strong>Total Points:</strong> {{ approved_score }}{% if pending_score %} ({{ pending_score }} pending){% endif %}</p>
<p><strong>Total Reviews:</strong> {{ approved_reviews|length }}{% if pending_reviews %} ({{ pending_reviews|length }} pending){% endif %}</p>

{% if pending_reviews %}
<h2>Pending Reviews</h2>

<table class="table table-striped">
<thead>
<tr>
<th>Story</th>
<th>Chapters Covered</th>
<th>Wordcount</th>
<th>Theme</th>
<th>Points</th>
</tr>
</thead>
<tbody>
{% for review in pending_reviews %}
<tr>
<td>{{review.review__fic__title}}</td>
<td>{{review.review__chapters}}</td>
<td>{{review.review__word_count}}</td>
<td>{% if review.theme %}Yes{% else %}No{% endif %}</td>
<td>{{review.score}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<h2>Approved Reviews</h2>

<table class="table table-striped">
<thead>
<tr>
<th>Story</th>
<th>Chapters Covered</th>
<th>Wordcount</th>
<th>Theme</th>
<th>Points</th>
</tr>
</thead>
<tbody>
{% for review in approved_reviews %}
<tr>
<td>{{review.review__fic__title}}</td>
<td>{{review.review__chapters}}</td>
<td>{{review.review__word_count}}</td>
<td>{% if review.theme %}Yes{% else %}No{% endif %}</td>
<td>{{review.score}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
