{% extends "base.html" %}
{% load forum_utils %}
{% block title %}Review Blitz User Stats{% endblock %}

{% block content %}
<h1>{{user.username}}'s Blitz Stats</h1>

{% if not user.verified %}
<p>Please <a href="{% url 'verification' %}">verify your {{ forum_name }} account</a> to participate in Review Blitz!</p>
{% else %}
<p><strong>Total Points:</strong> {{ approved_score }}{% if pending_score %} ({{ pending_score }} pending){% endif %}</p>
<p><strong>Total Reviews:</strong> {{ approved_reviews|length }}{% if pending_reviews %} ({{ pending_reviews|length }} pending){% endif %}</p>
<p><strong>Prize Points:</strong> {{ prize_points }}</p>

{% if pending_reviews %}
<h2>Pending Reviews</h2>

<div class="table-responsive">
<table class="table table-striped blitz-stats-table">
<thead>
<tr>
<th>Story</th>
<th>Chapters Covered</th>
<th>Wordcount</th>
<th>Week</th>
<th>Theme</th>
<th>Points</th>
</tr>
</thead>
<tbody>
{% for review in pending_reviews %}
<tr>
<td><a href="{{review.review.link}}" target="_blank">{{review.review.fic.title}}</a></td>
<td>{{review.review.chapters}}</td>
<td>{{review.review.word_count}}</td>
<td>{{review.week_index}}{% with review.get_theme as theme %}{% if theme %} - {{review.get_theme}}{% endif %}{% endwith %}</td>
<td>{% if review.theme %}Yes{% else %}No{% endif %}</td>
<td>{{review.score}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}

<h2>Approved Reviews</h2>

{% if approved_reviews %}
<div class="table-responsive">  
<table class="table table-striped blitz-stats-table">
<thead>
<tr>
<th>Story</th>
<th>Chapters Covered</th>
<th>Wordcount</th>
<th>Week</th>
<th>Theme</th>
<th>Points</th>
</tr>
</thead>
<tbody>
{% for review in approved_reviews %}
<tr>
<td><a href="{{review.review.link}}" target="_blank">{{review.review.fic.title}}</a></td>
<td>{{review.review.chapters}}</td>
<td>{{review.review.word_count}}</td>
<td>{{review.week_index}}{% with review.get_theme as theme %}{% if theme %} - {{review.get_theme}}{% endif %}{% endwith %}</td>
<td>{% if review.theme %}Yes{% else %}No{% endif %}</td>
<td>{{review.score}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>    
{% else %}
{% if pending_reviews %}
<p>Your review submissions have been received, and the logistics team will review them as soon as possible!</p>
{% else %}
<p>You haven't submitted any reviews yet! To do so, visit <a href="{% url 'blitz_review_submit' %}">the review submission page</a>.</p>
{% endif %}
{% endif %}
{% endif %}

{% endblock %}
