{% extends "base.html" %}
{% block title %}Reset Password for {{reset_user}}{% endblock %}

{% block active_login %} class="active"{% endblock %}

{% block content %}
<h1>Reset Password for {{reset_user}}</h1>

<p>To reset your password, you must reverify your Serebii.net forums identity as <strong>{{reset_user.member}}</strong> (if this is not your Serebii.net forums username, you should <a href="{% url 'register' %}">create a new account</a>). Your new verification code is <strong>{{reset_user.verification_code}}</strong>. <em>Before you fill in your new password below</em>, you must enter the verification code into the Biography section of your user profile. To recap:</p>

<ol>
<li>Go to <strong>your profile page</strong> on the forums. You can access this page by clicking your username where it says "Welcome, [username]" near the top right corner of the screen.</li>
<li>Switch to the <strong>About Me</strong> tab on the right side of the page.</li>
<li>Click the small pencil icon next to the <strong>Biography</strong> label. This should turn the field into an editable box.</li>
<li>Anywhere in the editable box, paste in the code <strong>{{reset_user.verification_code}}</strong>.</li>
<li>Press the "Save" button below the box. This should turn it back into text.</li>
<li>Enter your new password twice into the form below.</li>
<li>Submit the form. If you did everything correctly, your password will be set to the new password you chose and you will be logged in.</li>
</ol>

<form action="" method="post">
{% csrf_token %}
{% include "form.html" %}
<p><button type="submit" class="btn btn-primary">Reset password</button></p>
</form>
{% endblock %}