{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block active_register %} class="active"{% endblock %}

{% block content %}
<h1>Register</h1>

<p>Your Serebii.net Forums Fanfiction Awards account is separate from your Serebii.net forums account. It does not have to use the same username or password (though it can, and it's probably easier to remember your username if it's the same). After registering, you will verify your Serebii.net forums account. You will <strong>not</strong> have to give up your Serebii.net forums password.</p>

<form action="" method="post">
{% csrf_token %}
{% include "form.html" %}
<p><button type="submit" class="btn btn-primary">Register</button></p>
</form>
{% endblock %}